#addButton{
    background: url(./UnmarkedStar.svg) no-repeat bottom right;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border:0;
    text-align:center;
}
#removeButton{
    background: url(./MarkedStar.svg) no-repeat bottom right;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border:0
}
#backArrow{
    background: url(./ArrowLeft.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border:0
}
#topArrow{
    background: url(./ArrowTop.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border:0
}
#downArrow{
    background: url(./ArrowDown.svg) no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    border:0
}
.albumPhoto {
    position: relative;
    overflow: hidden;
  }
  
  .albumPhoto img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .albumPhoto:after {
    content: '';
    display:inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }

/* #image{
	position: absolute;
	top:0.5rem;
	left:0.5rem;
	right: 0.5rem;
	bottom: 0.5rem;
}
.model_picture{
    position: relative;
    overflow: hidden;

}
.model_picture:after{
	content: '';
	display:inline-block;
	vertical-align: top;
	width: 90%;
	height: 0;
	padding-top: 100%;
	
} */