nav {
    
    font-size: 1vh;
    width: 90vw;
    margin: auto;
}



nav {
    overflow: hidden;
  }
  nav a {
    color: black;
  }
  nav a:visited {
    color: black;
  }
  nav .navWide {
    height: 10vh;
    display: none;
    margin: 0 auto;
  }
  nav .navWide .wideDiv {
    text-align: center;
  }
  nav .navWide .wideDiv a {
    text-decoration: none;
    display: inline-block;
    padding: 0 2em;
  }
  nav .navNarrow i {
    float: right;
    cursor: pointer;
    color: black;
  }
  nav .navNarrow .narrowLinks {
    display: none;
   
  }

  nav .navNarrow .narrowLinks a {
    text-decoration: none;
    display: block;
    margin: auto;
    text-align: left;
    font-size: 3vh;
    border-bottom-style: solid; border-bottom-width: 1px;
    padding: 0.5em 0;
  }
  @media (min-width: 800px) {
    nav .navWide {
      display: block;
    }
    nav .navNarrow {
      display: none;
    }
  }
  