
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2vh;
}
.become_submit {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin-bottom: 2vh;
}
.become_submit::placeholder {
    color: black;
}